[Unit]
Description=MogileFs-storage
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mogstored
Restart=on-failure
RestartSec=10s
User={{ mogilefs_user }}
Group={{ mogilefs_user }}

[Install]
WantedBy=multi-user.target
